# Python Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
.pytest_cache/
.coverage
htmlcov/

# SQLite database files
*.db
*.sqlite
*.sqlite3

# React Frontend
src/frontend/node_modules/**
src/frontend/.pnp
src/frontend/.pnp.js
src/frontend/coverage/
src/frontend/build/
src/frontend/.DS_Store
src/frontend/.env.local
src/frontend/.env.development.local
src/frontend/.env.test.local
src/frontend/.env.production.local
src/frontend/npm-debug.log*
src/frontend/yarn-debug.log*
src/frontend/yarn-error.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Alembic migration versions
# Uncomment if you want to ignore migration versions
# migrations/versions/

# Jupyter Notebook
.ipynb_checkpoints
